@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

#name_initials_button {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    background-color: white;
    border-color: white;
    border: 1px solid white;
    outline: none;
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
    
}
.dropbtn_userSettings {
    background-color: #E5E5E5;
    color: black;
    padding: 10px;
    /* font-size: 25px; */
    /* border: solid white; */
    border: none;
    /* border-radius: 50%; */
    cursor: pointer;
    margin:5px;
    
  }

 .dropbtn_userSettings :active {
  outline: none;
  border: none;

  }

  .dropbtn_userSettings:focus {
    outline: none;
    border: 0;
  }
  
  .dropbtn_userSettings, .dropbtn_userSettings:focus {
    background-color: #E5E5E5;
  }
  
  .dropdown_userSettings_div {
    display: inline-block;
    border: 1px solid white;
    border-radius: 30px;

    margin: 10px;
    /*  Standard for Bootstrap buttons - to stay consistent with other buttons in top */

    padding:5px;
    width:135px;
    height: 65px;
    background-color: #E5E5E5;
    cursor: pointer;
  }
  
  .dropdown-content_userSettings {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    border: 1px solid white;
    width: 135px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    border-radius: 30px;
    margin-top: 10px;
    
  }
  
  .dropdown-content_userSettings a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-userSettings_div a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .fa-caret-down {
    font-size: 36px;
  }
  
  a:link {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

  #userSettings_button_link {
    width: 100%;
    height: 40px;
    outline: none;
    border: 0;
    cursor: pointer;
    border-radius: 30px;
   
  }

  #userSettings_button_link:hover {
    background-color: #ffc62b;
  }
  