.tooltipEmoji {
display: inline-block;
margin-right: 4.7rem;
margin-top: 1.2rem;
font-size: larger;
cursor: pointer;
}

.tooltipEmoji .tooltiptext {
visibility: hidden;
width: 120px;
background-color: white;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
right: 0;
margin-left: 1rem;
opacity: 0;
transition: opacity 0.3s;
}

/* .tooltipEmoji:hover .tooltiptext {
visibility: visible;
opacity: 1;
} */
@media screen and (max-width: 480px) {
    .tooltiptext {
        margin-top: -7rem;
    }
}

.emojiButton {
background-color: white;
outline: none;
border: white;
font-size: large;
}

.emojiButton:active {
transform: scale(0.95);
}

.emojiButton:focus {
    outline: none;
}