body{
    font-family:sans-serif;
    color:#333;
  }
  h1{
    margin:80px 0
  }

.btn-close-image {
    color: #dfd9d9;
    font-size: 40px;
    text-decoration: none;
    padding:10px;
    position: fixed;
    right: 7px;
    top: 0;
    z-index:10;
    display: none;
  }
  .btn-close-image:hover {
    color: #919191;
  }
  .modale:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .opened:before {
    display: block;
  }
  .opened .modal-dialog-image {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 10%;
  }
  .modale {
    display: flex;
    justify-content: center;
    z-index: 5;

  }

  #comment_InputImageModal {
      background-color: #eee;
      border: none;
      padding: 12px 15px;
      margin: 8px 0;
      float: left;
      width:100%;
      max-width: 95%;
      border-radius: 10px;
      overflow: hidden;
      display: inline-block;
  }

  #commentsDisplay{
    position: relative;
    z-index: 1000;
    margin-bottom: 20px !important;
  }

  #DetailsDivModal{
    margin-right: 0;
  }


  /*************************************** Start: All important Modal elements by hierarchy****************************************/

  .modal-dialog-image { /*This is the main outer most container*/
    background: #fefefe;
    border: #333333 solid 0px;
    border-radius: 5px;

    text-align:center;
    position: fixed;

    top: -100%;
    z-index: 11;

    box-shadow:0 5px 10px rgba(0,0,0,0.3);
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }

  .modal-body-image {
    text-align: center;
    padding: 0px;
  }

  #imageDivModal{
    max-width:50%;
    float: left;
  }

  #imageModal {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
  }

  #DetailsDivModal {
    float: left;
    padding: 10px;
    text-align: left;
    overflow: hidden;
    width: 50%;
  }

    /*************************************** End: All important Modal elements by hierarchy****************************************/


  .modal-header-image,
  .modal-footer-image {
    padding: 10px 20px;
  }
  .modal-header-image {
    background: transparent;
    border-bottom: #eeeeee solid 1px;
    height: 50px;
  }
  .modal-header-image h2 {
    font-size: 20px;
  }
  .modalParaImage {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 1 rem;
  }
  #upvotesModal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #commentDivModal {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-evenly;
  }

  #empty-div{
    margin-top: 64;
  }
  #img-comment-button{
    float: left;
  }

  #commentButton {
      display: inline-block;
      border-radius: 10px;
      border: 1px solid white;
      background-color: white;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: bold;
      padding: 15px 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      cursor: pointer;
      border-radius: 25px ;
      margin-left: -0.3rem;
      margin-top: 5px;
  }

  #commentButton:active {
      transform: scale(0.95);
  }

  #commentButton:focus {
      outline: none;
  }

  #commentButton.ghost {
      background-color: transparent;
      border-color: #FFFFFF;
  }

  #commentButton:hover {
    background-color: rgb(199, 196, 196);
  }

  /********************************** Internals of Image Modal*****************************************************/

  #dateModal{
    font-size: smaller;
  }
  #upvotesModal{
    float: left;
    margin-right: 2em;
  }

  #tagsModal{
    margin-bottom: 1em;
  }
  #tag-item{
    border: 3px solid #ddd;
    border-radius: 2em;
    padding: 5px;
    float: left;
    margin-right: 15px;
    margin-bottom: 0;
  }

  .modal-div-upvote-icon{
    background: url('./Icons/upvote_modaldiv.png');
    height: 20px;
    width: 20px;
    display: block;
  }

  .deleteCommentButton {
    border-color: transparent;
    background-color: transparent;
    color: grey;
  }




  /***************************************************************************************/