/* The Modal (background) */
  .modals {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-top:0%;
    padding-top: 10%;
  }
  
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /* Modal Header */
.modal-headers {
    padding: 2px 16px;
    background-color: #FF4B2B;
    color: white;
   
  }
  
  /* Modal Body */
  .modal-bodys {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footers {
    padding: 2px 16px;
    background-color: #edeee4;
    color: white;
  }
  
  /* Modal Content */
  .modal-contents {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

  .modal-footers {
      text-align: right;
  }

  #forgot-button {
    border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  #forgot-email {
     margin-bottom: 20px;
     font-family: "Lucida Console", Courier, monospace;

  }

  #myBtn {
    border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    

  }

  #myBtn:active {
	transform: scale(0.95);
  }

  #myBtn:focus {
	outline: none;
  }

  #myBtn.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
  }

  #myBtn { 
	cursor: pointer;
  }
