

@media only screen and (min-width: 1025px) {
	#main_div_about_us {
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-25%);
		transform: translateY(-25%);
	}
}

@media only screen and (max-width: 1024px) {
	#title_about_us {
		padding-bottom:10rem;
	}
}

@media only screen and (max-width: 768px) {
	#title_about_us {
		padding-bottom:5rem;
	}
}

@media only screen and (max-width: 480px) {
	#title_about_us {
		padding-bottom:2.5rem;
	}
}


.footer {
	position:absolute;
	display: block;
	font-family: 'Montserrat', sans-serif;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size:larger;
	color: black;
    /* background-color: #222	;  */
	/* color: #dfdfdf; */
	text-align: center;
}

.footer_button {
	border-radius: 10rem;
	background-color: #ffcc00;
	border:white;
	outline: none;
	font-size: larger;
}

.footer_button:focus {
	outline: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.modal {
    font-family: 'Montserrat', sans-serif;
}

.modal-title {
    font-size: 200%;
    font-weight: bold;
}

.login_signup_button_toggle {
    background-color: #FF4B2B !important;
    border-color: #FF4B2B !important;
    border-radius: 20px !important;
}

.login_signup_button_toggle:hover {
    background-color: #cb1f00 !important;
    border-color: #cb1f00 !important;
}

#sign_inorup_with_google_a{
display:inline-flex; 
align-items:center; 
min-height:60px;
background-color:#FFF; 
font-family:'Roboto',sans-serif;
font-size:14px; 
text-decoration:none;
margin-top: 15px; 
border-radius:2rem;
color: black;
}

#sign_inorup_with_google_a:hover{
	background-color: #e0e0e0;
	/* color: white; */
}


#upload-button-index{
	background-color: white;
	border:white;
	outline: none;
	transition: transform 80ms ease-in;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	border-radius: 20px;
}

#upload-button-index:hover{
	border: black;
	outline:solid #E5E5E5;
	color: orange;
}

#upload-button-index:active {
	transform: scale(0.80);
}

.div-img-parent
{
	width: 400px;
	height: 369px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.div-img-load
{
	margin: 20px 20px 20px 20px;
	width: 400px;
	overflow: hidden;
}

.text-block {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;

	color: black;
	letter-spacing: 1px;
	background-color: white; /* Copied directly from Imgur with Love :p */
	border-style: hidden hidden groove hidden;
	border-radius: 0 0 5px 5px;
}

.text-block > p{
	/* The important is used to override bootstrap's default styling for p */
	margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}

@media only screen and (max-width: 430px) {
	.div-img-load
	{
		margin: 20px 20px 20px 20px;
		width: 300px;
		overflow: hidden;
	}
	.div-img-parent
	{
		width: 300px;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
}

@media only screen and (max-width: 330px) {
	.div-img-load
	{
		margin: 20px 20px 20px 20px;
		width: 200px;
		overflow: hidden;
	}
	.div-img-parent
	{
		width: 200px;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
}

/* CSS */
.common_button_scheme {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.common_button_scheme:hover {
  background-color: orange;
  color: #fff;
}

@media (min-width: 768px) {
  .common_button_scheme {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

#sort_button_div_index_inner_div{
	width: 10%;
}
@media screen and (max-width: 1780px) {
	#sort_button_div_index_inner_div{
		width: 15%;
	}
}

@media screen and (max-width: 1240px) {
	#sort_button_div_index_inner_div{
		width: 20%;
	}
}


@media screen and (max-width: 900px) {
	#sort_button_div_index_inner_div{
		width: 25%;
	}
}

@media screen and (max-width: 750px) {
	#sort_button_div_index_inner_div{
		width: 30%;
	}
}

@media screen and (max-width: 600px) {
	#sort_button_div_index_inner_div{
		width: 50%;
	}
}