@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body {
	font-family: 'Montserrat', sans-serif;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

#spaceSignUpname {
	font-size: 15px;
	margin-top: -5px;
	margin-bottom: -10px;
	color: red;
}

#errorSignUpPara {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: -10px;
	color: red;
}

#errorLogInPara {
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: -10px;
	color: red;
}

#modal-content-login {
	overflow: hidden;
}

#modal-content-signup{
	overflow: hidden;
}

#SignUp_Modal{
	overflow: hidden;
}

#upload-button-index{
	background-color: white;
	border:white;
	outline: none;
	transition: transform 80ms ease-in;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	border-radius: 20px;
}

#upload-button-index:active {
	transform: scale(0.80);
}

.navbar {
	background-color: #ADD8E6;
}
