.top {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	/* justify-content: center; */
	/* Use align items to align stuff vertically */
}

.top > button{
margin: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');


#header{
	/* Currently important to hide for the big global loader */
	display: none;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.btn-upload-modal{
	margin: 10px;
	height: 3em;
}

.btn-logout {
	height: 3em;
  }


  /* Switch Div Button Code -----------------------------*/
  /* CSS */
.switch_div_button_scheme {
	border: 0 solid #e2e8f0;
	border-radius: 1.5rem;
	box-sizing: border-box;
	display: inline-block;
	font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1.1rem;
	font-weight: 600;
	line-height: 1;
	padding: 1rem 1.6rem;
	text-align: center;
	text-decoration: none #0d172a solid;
	text-decoration-thickness: auto;
	transition: all .1s cubic-bezier(.4, 0, .2, 1);
	box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
  }

  
  
#allImg_button{
	background-color: Orange;
}

/* Loader Code -----------------------------*/
@keyframes animate-loader{
	0% {background-color: red; margin-left: -25px; margin-top: 0px;}
	25% {margin-left: 25px; margin-top: 0px; background-color: red;}
	50% {margin-left: 25px; margin-top: 25px; background-color: red;}
	75% {margin-top:  25px; margin-left: -25px; background-color: red;}
	100% {margin-top: 0px; margin-left: -25px; background-color: red;}
	}

	.uploading-text{
		margin: auto;
		display: none;
		position: relative;
		text-align: center;
		font-family: 'Chakra Petch', sans-serif;
		font-size: 1.5em;
		background-clip: text;
		background: -webkit-linear-gradient(#4b6cb7, #182848);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.loader-div{
		position: relative;
		text-align: center;
	}

	.loader {
		display: none;
		width:25px;
		height:25px;
		border-radius: 50%;
		background-color: red;
		animation: animate-loader 1.5s steps(4) infinite;
	}

/* ------------------------ Start: Upload Image Modal -------------------------------------------- */

#content-upload-modal{
	display: flex;
	justify-content: center;
	flex-direction: column;
}


.img-upload
{
	margin: 20px 20px 20px 20px;
	width: 400px;
	height: 400px;
}

@media only screen and (max-width: 430px) {
	.img-upload
	{
		margin: 10px 10px 10px 10px;
		max-width: 300px;
	}
}

@media only screen and (max-width: 330px) {
	.img-upload
	{
		margin: 5px 5px 5px 5px;
		max-width: 200px;
	}
}

/* ------------------------------------- End: Upload Image Modal ------------------------------- */


/* --------------------------------------------------------------------------------------------  */
						/*Start mini loader inside text div*/
.progress{
	height:20px;
	width: 2em;
}

.progress .color{
	position: absolute;
	background-color: rgb(143, 135, 135);
	width: 0px;
	max-width: 75%;
	height: 20px;
	border-radius: 15px;
	animation: progress-animate 1s infinite linear;
}

.progress2{
	height:20px;
	width: 2em;
}

.progress2 .color2{
	position: absolute;
	background-color: rgb(143, 135, 135);
	width: 0px;
	max-width: 75%;
	height: 20px;
	border-radius: 15px;
	animation: progress-animate-2 1s infinite linear;
}

@keyframes progress-animate {
	0%{
		width: 0%;
	}

	50%{
		width: 1em;
	}

	100%{
		width: 2em;
	}
}

@keyframes progress-animate-2 {
	0%{
		width: 0%;
	}

	50%{
		width: 1em;
	}

	100%{
		width: 2em;
	}
}
									/*End mini loader inside text div*/
/* --------------------------------------------------------------------------------------------  */

.img-load
{
	transition: 0.4s;
	z-index:1;
	height: 100%;
	min-width: 100%;
}

.grad-div {
	margin: 50px 20px 20px 20px;
	width: 400;
	height: 400;
	float: left;

    background-color : red; /* For browsers that do not support gradients */
    /* background-image : linear-gradient(to bottom right, red, yellow); Standard syntax (must be last) */

}
.img-load:hover
{
	transform: scale(1.15);
	cursor: pointer;
}

.modal-content {

overflow-x: scroll;
	padding-left: 20px;
	padding-right: 20px;
	display: none;
}

#btn-div
{
	  margin-top: 50px;
	  margin-bottom: 50px;
	  width: 100%;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}

  #delete-account {
	background-color: white;
	border: none;
	display: none;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 50px;
	margin: 4px 2px;
	border-radius: 45px ;
    height: 90px ;
    width: 90px ;
	border: 2px solid black;
	cursor: pointer;
	margin-left: 50px;
	margin-top: 30px;
	text-transform: uppercase;
	font-family: "Lucida Console", Courier, monospace;
  }

  /* Style The Dropdown Button */

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;

  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	/*background-color: #f9f9f9; */
	min-width: 160px;
	/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	background-color: aqua;
	font-family: "Lucida Console", Courier, monospace;
  }

  /* Change color of dropdown links on hover
  .dropdown-content a:hover {background-color: #f1f1f1;} */

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
	background-color: #4f6dce;
  }

  #dropdown-button {
	width: 100%;
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
  }

#dropdown-button:active {
	transform: scale(0.95);
}

#dropdown-button:focus {
	outline: none;
}

#dropdown-button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#dropdown-button {
	cursor: pointer;
}

#switchDiv {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}


.delBtn-div {
	text-align: right;
}

.delBtn_modal_initiator {
	border-radius: 10px;
	border-color: transparent;
	background-color: transparent;
	color: grey;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
	position: absolute;
	z-index: 3;
	right: 0;
	font-size: 2.9rem;
	margin-top: -1rem;
	margin-right: .7rem;
	transition: .2s;
}

.delBtn_modal_initiator:active {
	transform: scale(0.95);
}

.delBtn_modal_initiator:hover {
	transform: rotate(90deg);
	color: red;
}

.delBtn_modal_initiator:focus {
	outline: none;
	color: darkgray;
}

.delBtn_modal_initiator.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}


.delBtn-div {
	text-align: right;
}

.delBtn_modal_delete_btn {
	border-radius: 10px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}

.delBtn_modal_delete_btn:active {
	transform: scale(0.95);
}

.delBtn_modal_delete_btn:focus {
	outline: none;
}

.delBtn_modal_delete_btn.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}


.unvote_btn {
	cursor: pointer;
	display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url('../Icons/upvote_unvote_photo_bottom_div.png');
  background-position: 0 2px;
  border-color: white;
  text-align: center;
  outline: none;
  border: 1px solid white;
  border-color: white;
}

.unvote_btn:focus {
	outline:none;
}

.upvote_btn {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url('../Icons/upvote_unvote_photo_bottom_div.png');
  border-color: white;
  text-align: center;
  outline: none;
  border: 1px solid white;
  border-color: white;
  cursor: pointer;
}

.upvote_btn:focus {
	outline:none;
}

#dropdown-sort{
	cursor: pointer;
}

#btn-sort{
	cursor: default;
}
.photo_name_real {
  max-width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.text_div_username_para {
	max-width: 45%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

#commentsDisplay{
	height: 160px;
	max-height: 161px;
	overflow-y:auto !important;
}

#commentsForm {
	margin-top: 50px !important;
}

.toast{
	position: relative;
	z-index: 1;
}