
@keyframes animate-icing {
    0% {
     background-position:-23.125rem 0
    }
    10% {
     background-position:-11.5625rem 0
    }
    15% {
     background-position:-7.708rem 0
    }
    30% {
     background-position:0 0
    }
    70% {
     background-position:0 0
    }
    85% {
     background-position:7.708rem 0
    }
    90% {
     background-position:11.5625rem 0
    }
    to {
     background-position:23.125rem 0
    }
   }

#loader_global_first {
    animation:animate-icing 2.5s linear infinite;
    background:linear-gradient(#eee,#eee) no-repeat;
    /* border-radius:80px; */
    height:16.7rem;
    width:23.125rem;
    margin:10rem auto;
    position:relative;
}
#loader_global_first:before {
    background:linear-gradient(90deg,  	#00FFFF, #7DF9FF,  	#008080 );
    /* border-radius:80px; */
    content:"";
    display:block;
    height:100%;
    position:absolute;
    width:100%;
    z-index:-1
   }

.triangle_top_left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16.7rem 13rem 0 0;
    position: absolute;
    border-color: #fff transparent transparent transparent;
   }

.triangle_bottom_right {
    width: 0;
    height: 0;
    border-bottom: 7.7rem solid #fff;
    border-left: 6rem solid transparent;
    margin-left:6rem;
    margin-top: 4rem;
    position: absolute;
  }

.triangle_bottom_right_small {
    width: 0;
    height: 0;
    border-bottom: 2.8875rem solid #fff;
    border-left: 2.25rem solid transparent;
    margin-left:2.25rem;
    margin-top:13.8125rem;
    position: absolute;
  }
.rectangle_small {
      width: 7.5rem;
      height: 2.8875rem;
      margin-top: 13.8125rem;
      position: absolute;
      margin-left: 4.5rem;
      background: #fff;
  }
.rectangle_big {
    width: 7.5rem;
    height: 14rem;
    position: absolute;
    margin-left: 13.8125rem;
    background: #fff;
}


   /* *,
:after,
:before {
 box-sizing:revert
} */