@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
    font-family: 'Montserrat', sans-serif;

}

.collapsible {
    background-color: rgba(255, 255, 255, 0.63);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
  }

  .active, .collapsible:hover {
    background-color: rgb(255, 255, 255);
  }

  .collapsible:after {
    content: '\002B';
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  /*.active:after {
    content: "\2212";
  }*/

  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  .button_in_collpasible_div {
      padding: 10px;
      font-family: 'Montserrat', sans-serif;

  }

  #errorChangePassPara {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: -10px;
    color: red;
  }

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.modal {
    font-family: 'Montserrat', sans-serif;
}

.modal-title {
    font-size: 200%;
    font-weight: bold;
}

.reauthentication-button {
    background-color: #FF4B2B !important;
    border-color: #FF4B2B !important;
    border-radius: 20px !important;
}